<h1>Feeds available</h1>

<% form_for :feed_item, :url => update_url do |form| %>
  <p>Set feed <%= form.text_field :feed_name, :size => 20 %>
    to include <%= form.text_field :title, :size => 30 %>
    containing  <%= form.text_field :description, :size => 50 %>
    <%= submit_tag %></p>
<% end %>

<ul>
<% for feed in @feeds %>
  <li><%= link_to(h(feed.feed_name), (feed_url(:feed_name => feed.feed_name))) %></li>
<% end %>
</ul>