<h1>Feeds available</h1>

<% form_tag :action => 'update' do %>
  <p>Set feed <%= text_field_tag :new_feed_name, '', :size => 20 %>
    to include <%= text_field_tag :title, '', :size => 30 %>
    containing  <%= text_field_tag :description, '', :size => 50 %>
    <%= submit_tag 'Update' %></p>
<% end %>

<ul>
<% for feed in @feeds %>
  <li><%= link_to(h(feed.feed_name), (feed_url(:feed_name => feed.feed_name))) %></li>
<% end %>
</ul>