<h1>Contents of feed <%= h params[:feed_name] %></h1>
<p><%= link_to("List of all feeds", index_url) %></p>

<% form_for :feed_item, :url => update_url(params[:feed_name]) do |form| %>
  <p>Set feed <%= form.text_field :feed_name, :size => 20, :value => h(params[:feed_name]) %>
    to include <%= form.text_field :title, :size => 30 %>
    containing  <%= form.text_field :description, :size => 50 %>
    <%= submit_tag %></p>
<% end %>

<dl>
  <% for item in @feed_items %>
    <dt><%= h item.title %></dt>
    <dd><em><%= h item.description %></em></dd>
  <% end %>
</dl>
